$wrapper
  max-width $contentWidth
  margin 0 auto
  padding 2 * $myrem 2.5 * $myrem
  @media (max-width: $MQNarrow)
    padding 2 * $myrem
  @media (max-width: $MQMobileNarrow)
    padding 1.5 * $myrem

